
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body h2 , body p {
  padding: 0;
  margin: 0;
}

.video {
    background-color: rgba(81, 175, 22, 0.7);
    padding: 10px;
    margin: 80px 0;
    min-width: 570px;
    height: 500px;
    display: flex;
}

.video iframe {
  border-radius: 1rem;
  border: 1px solid #87131b;
}


.video_right_img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 5px;;

}

.video:hover .video_right_img {
  display: none;
}

.text_video {
    width: 100%;
    padding: 0 15px;
    height: 100%;
    display: none;
    margin-top: 70px;
}

.video:hover .text_video{
  content: '';
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.video:hover .speed1 {
  animation: slideInLeft1 ease 0.3s;

}
.video:hover .speed2 {
  animation: slideInLeft2 ease 0.75s;

}
.video:hover .speed3 {
  animation: slideInLeft3 ease 1s;

}



@keyframes slideInLeft1 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft2 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft3 {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.margintop {
    margin-top: 20px;
}

.text_video .text_video1 .text2 {
    background-color: rgb(255, 255, 255);
    border: 1px solid #87131b;
    border-radius: 2rem;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


@font-face {
    font-family: abc;
    src: url(./themify-icons/fonts/DelaGothicOne-Regular.ttf);
}
.text_video1 .text2 p,.text_video1 .text2 h1 {
    margin: 0;
    color: #111111;
    font-weight: 600;

}

.text_video1 .text2 p{
    color: #000;
}

.text_video1 .text2 h1 {
    padding: 0;
}

.text2 a:hover h1 {
    text-decoration: underline;
}

.text_video .ti-pencil-alt2{
    font-size: 80px;
    width: 40px;
    float: left;
    padding: 20px 20px;
    color: #440909;
    margin-bottom: 11.33%;
}
.ti-pencil-alt2-right {
    margin-right: 20px;
    font-size: 25px;
}
/* dong ngan cach */

.p_ttl__main {
  color: #111111;
  margin-top: 150px;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
  background: url(./img/sub_t_lin.png) no-repeat center bottom 10px;
  padding-bottom: 30px;
  line-height: 1.5;
  text-align: center;
  background-color:#bff9a3;
}

.p_ttl__main1 {
  color: #111111;
  margin-top: 150px;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
  background: url(./img/sub_t_lin.png) no-repeat center bottom 10px;
  padding-bottom: 30px;
  line-height: 1.5;
  text-align: center;
  background-color:#ecf3fc;
  
}

.p_ttl__main2  {
  color: #111111;
  margin-top: 150px;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
  background: url(./img/sub_t_lin.png) no-repeat center bottom 10px;
  padding-bottom: 30px;
  line-height: 1.5;
  text-align: center;
  background-color:#fabab0;
  
}
.p_ttl__main3  {
  color: #111111;
  margin: 100px 0;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
  background: url(./img/sub_t_lin.png) no-repeat center bottom 10px;
  padding-bottom: 30px;
  line-height: 1.5;
  text-align: center;
  background-color:#8fd1f8;
  
}
/* braille */
.braille {
  height: 150px;
 width: 90%;
 display: flex;
 position: relative;
}

.braille1{
width: 30%;
position: absolute;
top: -50px;
left:0 ;
}

.braille2 {
width: 70%;
position: absolute;
top: 20px;
right: 0 ;
}
/* icon_way */
.icon_way {
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

.icon_way i {
  font-size: 24px;
  color: #00633d;
}
/* スポット */
.img_introduce {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 100px 20px 100px;
}


.img_introduce_item1:hover {
  opacity: 1;
}
.img_introduce_item21:hover {
  opacity: 1;
}
.img_introduce_item1{
  width: 450px;
  margin-top: 45px;
  padding-top: 50%;
  background: url('./img/suppot1\ \(1\).JPG') center / cover no-repeat;
  position: relative;
  border-radius: 5px;
}
.img_introduce_item3:hover {
  opacity: 1;
}

.img_introduce_item2{
  height: 50%;
  margin-bottom:10px ;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 45px;
  padding-top: 70%;
  background: url('./img/suppot4.jpg') center / cover no-repeat;
  position: relative;
  border-radius: 5px;

}

.img_introduce_item2:hover {
opacity: 1;
}
.img_introduce_item21:hover .text-content{
  display: block;
  animation: slideInRight ease 0.5s;
  background-color:  rgba(81, 175, 22, 0.85);
}
.img_introduce_item1:hover .text-content {
  display: block;
  animation: slideInRight ease 0.5s;
  background-color:  rgba(72, 172, 222, 0.85);
}
.img_introduce_item1:hover h2 {
  color: #fff;
}
.img_introduce_item3:hover .text-content {
  display: block;
  animation: slideInRight ease 0.5s;
  background-color: rgba(230, 102, 162, 0.85);
}
.img_introduce_item2:hover .text-content {
  display: block;
  animation: slideInRight ease 0.5s;
  background-color:  rgba(240, 162, 78, 0.9);
}
.img_introduce_item21{
  width: 450px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 82%;
  background: url('./img/suppot1\ \(2\).JPG') center / cover no-repeat;
  position: relative;
  border-radius: 5px;

}
.img_introduce_item3{
  width: 450px;
  margin-top: 45px;
  padding-top: 50%;
  background: url('./img/suppot1\ \(3\).JPG') center / cover no-repeat;
  position: relative;
  border-radius: 5px;
}

.text-shadow {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); 
}

.text-content {
  display: none;
  height: 28%;
  color:#fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 5px ;
}
.p_25 {
  padding-bottom: 60px;
}

.img_introduce_item1 h2 {
  z-index: 1;
  color:#fff;
  background-color: #0a9d0a;
  position: absolute;
  bottom: 151.5px;
  left: 0;

  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
}

.img_introduce_item1 p,.img_introduce_item3 p {
  z-index: 1;
  color:#fff;
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 100%;
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
}

.img_introduce_item2 h2 {
  z-index: 1;
  color:#fff;
  background-color: #ffae00;
  position: absolute;
  bottom: 101px;
  left: 0;
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
}

.img_introduce_item2 p {
  z-index: 1;
  height: 20%;
  color:#fff;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
}

.img_introduce_item21 h2 {
  z-index: 1;
  color:#fff;
  background-color: #0095ff;
  position: absolute;
  bottom: 117px;
  left: 0;
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
}

.img_introduce_item21 p {
  z-index: 1;
  height: 20%;
  color:#fff;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
}
.img_introduce_item3 h2 {
  z-index: 1;
  color:#fff;
  background-color: #ff00d0;
  position: absolute;
  bottom: 151.5px;
  left: 0;
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 2rem;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    width:0;
  }
  to {opacity: 1;
    width:100%;
  }
}
.img_grup2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}
/* scholarship */
.p_ttl__main2_left {
  width: 50px;
  background-color: #000;
  height: 100%;
  margin-right: 50px;
  text-align: center;
}

.p_ttl__main2_left span {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 70px;
}

.scholarship {
  text-align: center;
  height: 750px;
  padding:20px 0;
  display: flex;
  justify-content: center;

}

.scholarship_child {
  margin-right:25px;
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid #87131b;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

}

.scholarship_img {
  width: 100%;
  background-size: cover;
  transition: all 0.3s ease-out;
}

.scholarship_child_top {
  height:100%;
  overflow: hidden;

}

.scholarship_child_top:hover img {
  transform: scale(1.15);
  border-radius: 5px;
}

.icon_scholarship {
  height: 100px;
  margin-bottom: 10px;
}

.scholarship_text {
  height: 60%;
  text-align: center;
  background-color: #fff;
}

.scholarship_text h1 {
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.8rem;
  color: #87131b;
}
.scholarship_text p {
  font-family: "Noto Serif JP", serif, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.icon_body {
padding-top: 25px;
width: 100%;
display: flex;
justify-content: space-around;

}
.icon {
  width: 140px;
}
/* slider2 */
.huy {
  width: calc(100%-6px);
  display: flex;
  overflow: hidden;
  padding-top: 20px;
  height: 650px;
  border:3px solid #0a9d0a;
  border-radius: 20px;
  background: url('./img/bagr_slider2.jpg') bottom center / cover no-repeat;

}

.a1 {
  width: 200px;
 }

.games{
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  margin-top: 20px;
}

/* many */

.many{
  margin-top: 100px;
  width: 100%;
}
.many h2{padding:1rem 1rem 1rem 70px;font-size:1.8rem;font-weight:bold;color:#FFF;position:relative;margin-bottom:3rem;background:#1d6c05;}
.many h2:before{width:52px;height:52px;content:"";display:block;position:absolute;left:10px;top:50%;margin-top:-26px;background:url(./img/ct1.png) center center no-repeat;background-size:contain;}
.many h3 {
  font-size: 24px;
  padding-left: 50px;
  background: url(./img/logomany.jpg) left / cover no-repeat;
  background-size: 45px;
}
.many_img {
  margin-left: 23%;
  border-radius: 5px;
  box-shadow: 3px 4px 4px 1px #000;
}

/* opencampus */

.row {
  display: flex;
  justify-content: center;
}
.col {
  padding-left: 50px;
}
.contact-content {
  padding: 10px;
  margin-top: 48px;
}

.contact-info {
 font-size: 18px;
 line-height: 1.5;
}

.ti-arrow-down {
  font-size: 30px;
  padding-left: 10px;
}
.contact-info i[class*='ti-'] {
    width: 30px ;
    display: inline-block;
}

.contact-from {
 font-size: 15px;
}

.section-heading {
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.contact-from .form-control {
padding: 10px; 
border: 1px solid #ccc;
width: 100%;
font-size: 15px;
border-radius: 5px;
float: right;
margin-top: 20px;
}
.contact-submit-btn {
  float: right;
  margin-top: 40px;
  font-size: 20px;
}
.contact-submit-btn:hover {
  background-color: #0a9d0a;
}

/* footer */

.footer_top {
  font-size: 60px;
  margin-bottom: 20px;
  color: #087808;
}
.iconfooter{
  margin-bottom: 20px;
 margin-left: 34%;
}

.iconfooter li {
  font-size: 45px;
  float: left;
  padding: 24px 25px;
  list-style: none;
}

.iconfooter li a {
  text-align: center;
  text-decoration: none;
}

.iconfooter li i {
  color: #087808;

}

.iconfooter li i:hover {
  opacity: 0.7;
}

#footer .iconfooter2 {
    margin-top: 100px;
}

#footer {
    background: #e5f3ed;
    margin-top: 70px;
    color: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    list-style: none;

  }

#footer li {
    list-style: none;
}

#footer li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;

}

#footer .menu a:hover {
    text-decoration:underline ;
}

#footer .hd {
    margin-bottom: 32px;
    text-align: center;
}


#footer .f_left p {
  margin-top: 30px;
  width: 100%;
  font-size: 24px;
}
#footer .bottom {
    padding: 0 0 51px 4px;
  }
#footer .bottom .pcCont {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-right: 56px;
  }
#footer .bottom .pcCont > li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    text-align: center;
   
  }
#footer .bottom .pcCont > li li {
    font-size: 1.2rem;
    line-height: 1.91;
  }
#footer .bottom .pcCont .ttl {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 30px;
    padding-left: 30px;
  }
#footer .bottom .pcCont ul.sub {
    font-weight: 700;
    margin-top: 20px;
  }
#footer .bottom .pcCont ul.sub li {
    margin-bottom: 6px;
  }
#footer .submenu {
    border-top: 1px solid #fff;
    padding: 33px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
  }
#footer .submenu li {
    padding: 0 16px;
    border-right: 1px solid #707774;
  }
#footer .submenu li:last-of-type {
    border-right: none;
  }
#footer .copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.025em;
    background: #00633d;
    color: #fff;
    font-size: 1.2rem;
    padding: 40px 0;
    text-align: center;
    letter-spacing: 0.1em;
  }

#footer .menu {
    font-size: small;
    font-style: normal;
}
  
@media only screen and (max-width: 767px) {#footer {
      margin-top: 30px;
    }
    #footer .hd {
      margin-bottom: 0;
      border-bottom: none;
    }
    #footer .hd .innerWrap {
      padding: 30px 0 23px;
      text-align: center;
    }
    #footer .hd .f_left {
      float: none;
    }
    #footer .hd .f_left p {
      float: none;
    }
    #footer .hd .logo {
      margin-bottom: 13px;
    }
    #footer .hd .logo img {
      width: auto;
      height: 45px;
    }
    #footer .hd .address {
      padding: 0;
      margin-bottom: 20px;
    }
    #footer .hd .address span {
      font-size: 1.5rem;
      padding-top: 6px;
      display: inline-block;
    }
    #footer .hd ul {
      padding-top: 0;
      font-size: 0;
      line-height: 1;
      float: none;
    }
    #footer .hd ul li {
      float: none;
      display: inline-block;
      margin: 0 12px;
    }
    #footer .hd ul li img {
      width: 38px;
      height: auto;
    }
    #footer .bottom {
      padding: 0;
    }
    #footer .bottom .pcCont {
      display: none;
    }
    #footer .bottom .spCont {
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border-top: 1px solid #fff;
    }
    #footer .bottom .spCont li {
      width: 50%;
      border-bottom: 1px solid #fff;
    }
    #footer .bottom .spCont li:nth-of-type(2n) {
      border-left: 1px solid #fff;
    }
    #footer .bottom .spCont a {
      padding: 12px 5px;
      display: block;
    }
    #footer .submenu {
      border-top: none;
      padding: 20px 0;
    }
    #footer .submenu li {
      padding: 0 8px;
    }
    #footer .copyright {
      padding: 23px 0 109px;
      font-weight: 400;
    }
  }
  